:root {
  --navy100: rgba(50, 138, 241, 0.1);
  --navy200: rgba(50, 138, 241, 0.07);
  --navyHover: rgba(50, 138, 241, 0.12);
  --backgroundDark: #151f32;
}
body {
  background-color: var(--backgroundDark);
  background-image: url("./assets/upper-gradient.svg");
  background-repeat: no-repeat;
}
